body{
    background-color: grey;
    margin: 2px;
    margin-top: 2%;
    
}
.bg-green{
    height:5em;
    text-align: center;
}
.green{
    background-color: rgba(0, 128, 0, 0.849);
}
.myBox{

    padding: 20px 40px;
    background-color: antiquewhite;
    border-radius: 2%;
    
}
